# Format Spec:
#
# Each line is an entry
# Entry conisits of 3 text fields seperated by a space - all 3 fields MUST be present
# Enter comments by starting a line with a #  (important-whitespace is significant)
# Lines not readable by the parser will be skipped and their line number annouced to stdout
#
# Example config for CiscoYoink:
#
# ip/dns_hostname username password
#
# 192.168.0.1 admin	P@ssw0rd
#
